modules = ["nodejs-20"]
hidden = [".config", "package-lock.json"]
run = "node index.js"

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "package.json", "package-lock.json"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "node index.js"]
deploymentTarget = "autoscale"
ignorePorts = false
